@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-vermilion: #dd2e44;
  --color-cerulean: #0081a7;
  --color-saffron: #e3b505;
  --color-fuchsia: #574d68;
  --color-viridian: #33673b;
  --color-white: #ffffff;
  --color-black: #000000;
}

#root {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  width: 100dvw;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  position: relative;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: scroll-back 170s linear infinite;
  animation-fill-mode: forwards;
  background: url("/tile_back.png") repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.3;
  z-index: -3;
  right: -440px;
  /* gaussian-blur: 10px; */
  filter: blur(8px);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

.bg2 {
  /* animation: 10s infinite slid; */
  z-index: -2;
  animation: scroll-front 190s linear infinite reverse;
  animation-fill-mode: forwards;
  background: url("/tile_front.png") repeat;
  opacity: 0.4;
  filter: none;
  padding: 440px;
  left: -440px;
  transform: scale(1);
  transition: filter 1s ease-in-out, opacity 1s ease-in-out;
}

.pause-scroll {
  animation-play-state: paused;
}

.bg.pause-scroll {
  filter: blur(35px);
  opacity: 0.4;
}

.bg2.pause-scroll {
  filter: blur(20px);
  opacity: 0.5;
}

@keyframes scroll-back {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-440px);
  }
}

@keyframes scroll-front {
  0% {
    transform: translateX(440px);
  }
  100% {
    transform: translateX(0);
  }
}
