@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-vermilion: #dd2e44;
  --color-cerulean: #0081a7;
  --color-saffron: #e3b505;
  --color-fuschia: #574d68;
  --color-viridian: #33673b;
  --color-white: #ffffff;
  --color-black: #000000;
}

#root {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  width: 100dvw;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  position: relative;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: scroll-back 50s linear infinite;
  animation-fill-mode: forwards;
  /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%); */
  background: url("/tile_back.png") repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Double the width for smoother looping */
  opacity: 0.3;
  z-index: -3;
  /* gaussian-blur: 10px; */
  filter: blur(8px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

.bg2 {
  /* animation: 10s infinite slid; */
  z-index: -2;
  animation: scroll-front 40s linear infinite reverse;
  animation-fill-mode: forwards;
  background: url("/tile_front.png") repeat;
  opacity: 0.4;
  filter: none;
  transition: filter 2s ease-in-out, opacity 2s ease-in-out;
}

.pause-scroll {
  animation-play-state: paused;
}

.bg.pause-scroll {
  filter: blur(15px);
  opacity: 0.4;
}

.bg2.pause-scroll {
  filter: blur(6px);
  opacity: 0.5;
}

/* .bg3 {
  animation-duration: 70s;
  background: url("/tile_1.png") repeat;
} */

@keyframes scroll-back {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -440px 0;
  }
}

@keyframes scroll-front {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -440px 0;
  }
}
